<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Account" />
                <binding name="BasicHttpBinding_Feed" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61005/Services/Account.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Account"
                contract="AccountService.Account" name="BasicHttpBinding_Account" />
            <endpoint address="http://localhost:61005/Services/Feed.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Feed"
                contract="FeedService.Feed" name="BasicHttpBinding_Feed" />
        </client>
    </system.serviceModel>
</configuration>